build/*
dist/*
wrapping/dl85Optimizer.cpp
DL8.5.egg-info/*
doc_generator/_build/*
doc_generator/auto_examples/*
doc_generator/generated/*
dl85/__pycache__/*
dl85/classifiers/__pycache__/*
dl85classifiers/tests/__pycache__/*
dl85/errors/__pycache__/*