/build/

/cython_debug/

/dist/

/pydl8.5.egg-info/

/doc/_build
/doc/auto_examples
/doc/generated

/.pytest_cache/

/.idea/

/.ipynb_checkpoints/

/tests_code/

/.vscode/

/venv/

/datasets_noise/
/datasets_noise_30/
/datasets_noise_40/
/datasets_noise_50/

/datasets/boosting/eharmony/
/datasets/boosting/mnist/
/datasets/boosting/usps/
/datasets/bin/
/datasets/binoct/
/datasets/tests/

/notebooks/

/core/cmake-build-debug/
/core/cmake-build-release/
/core/cmake-build-relwithdebinfo/
/core/cmake-build-debug-docker/
/core/cmake-build-release-docker/
/core/cmake-build-debug-remote-host/
/core/cmake-build-release-remote-host/

/core/tests_run/
/core/main_reg.cpp

/pydl85/__pycache__/
/pydl85/supervised/classifiers/__pycache__/
/pydl85/supervised/classifiers/utils/__pycache__/
/pydl85/supervised/__pycache__/
/pydl85/unsupervised/__pycache__/
/pydl85/supervised/classifiers/tests/__pycache__/
/pydl85/errors/__pycache__/
/pydl85/predictors/__pycache__/
/pydl85/supervised/classifiers/old_classifier.py
/pydl85/unsupervised/old_clustering.py
/pydl85/predictors/old_predictor.py

/cython_extension/dl85Optimizer.cpp
/cython_extension/error_function.cpp
/cython_extension/error_function.h

/examples/gurobi.log
/examples/plots/
/examples/*.csv
/examples/output/
/examples/test/
/examples/__pycache__/

/*.so

/.coverage
/coverage.xml

/todo.txt

/tests/__pycache__/

/testenv/

/doc_old/

/memory/

mem_script.sh
/memory_plot.r

/dl85_memory.zip
/get_mem_generic.sh