build/*
dist/*
wrapping/dl85Optimizer.cpp
wrapping/src/headers/error_function.cpp
wrapping/src/headers/error_function.h
dl8.5.egg-info/*
doc/_build/*
doc/auto_examples/*
doc/generated/*
dl85/__pycache__/*
dl85/supervised/classifiers/__pycache__/*
dl85/supervised/classifiers/old_classifier.py
dl85/supervised/__pycache__/*
dl85/unsupervised/__pycache__/*
dl85/unsupervised/old_clustering.py
dl85/predictors/__pycache__/*
dl85/predictors/old_predictor.py
dl85/supervised/classifiers/tests/__pycache__/*
dl85/feature_selection/__pycache__/*
dl85/errors/__pycache__/*
dl85Optimizer.cpython-36m-darwin.so
.pytest_cache/*
.coverage